# Minimum Requirements

## Basics
tqdm 
pyzmq 
cython 
graphviz 
numpy 
matplotlib
seaborn 
scipy   
pandas 
six 
future 
protobuf 
boost  
PyYAML 
ipykernel 
cmake 
joblib 
Pillow  
docutils 
imageio 
tabulate 
virtualenv
pydocstyle
pylint
pytest
autopep8
flake8

